---
import Layout from '../layouts/Layout.astro';
import { AstroError } from 'astro/errors';

export async function getStaticPaths() {
    const modules = import.meta.glob('../members/**/*.mdx', { eager: true });
        return Object.keys(modules).map((file) => {
            const path = '@' + file
            .replace('../members/', '')
            .replace(/\.mdx$/, '')
            .replace(/\/index$/, '')
        return { params: { slug: path } };
    });
}

const encodedslug = Astro.params.slug;
let slug = encodedslug.startsWith('@') ? encodedslug.slice(1) : encodedslug;
if (!slug.includes('/')) {
    slug += '/index';
}
const memberPath = `../members/${slug}.mdx`;
const memberModule: any = import.meta.glob('../members/**/*.mdx', { eager: true })[memberPath];
if (!memberModule) {
  throw new AstroError(`Member not found: ${slug}`);
}

const { frontmatter, Content } = memberModule;

---
<Layout
    title={'@' + frontmatter.id}
>

    <div
        class="member-header"
    >
        <img src={frontmatter.avatar} alt={`${frontmatter.name}'s avatar`} class="avatar" />
        <h1>{frontmatter.name}</h1>
    </div>

    <article>
        <Content />
    </article>
</Layout>

<style>
    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }

    .member-header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    article {
        border: 1px solid #ccc;
        max-width: 800px;
        border-radius: 8px;
        padding: 1rem;
        flex: 1;
    }
</style>
